:root {
  /* Pikachu Volleyball's original width: 432px, original height: 304px */
  --aspect-ratio: calc(432 / 304);
  --inverse-aspect-ratio: calc(304 / 432);
  --canvas-width: 96vmin;
  --canvas-height: calc(96vmin * var(--inverse-aspect-ratio));
  --font-size: 18px;
  --btn-width: calc(3 * var(--font-size));
  --btn-height: calc(1.5 * var(--font-size));
}
/* size of iPad screen is 768px x 1024px in portrait mode */
@media only screen and (min-width: 768px) and (min-height: 768px) {
  :root {
    --font-size: 22px;
    --btn-width: calc(6 * var(--font-size));
  }
}
@media only screen and (min-aspect-ratio: 432/304) {
  :root {
    --canvas-height: calc(96vh - var(--btn-height) - 10px);
    --canvas-width: calc(var(--canvas-height) * var(--aspect-ratio));
  }
}
@media only screen and (max-aspect-ratio: 432/304) {
  :root {
    --canvas-width: 96vw;
    --canvas-height: calc(96vw * var(--inverse-aspect-ratio));
  }
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
#flex-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: flex-start;
  width: var(--canvas-width);
  margin-left: auto;
  margin-right: auto;
}
#game-canvas-container {
  margin-left: auto;
  margin-right: auto;
}

#game-canvas-container,
canvas {
  position: relative;
  display: block;
  width: var(--canvas-width);
  height: var(--canvas-height);
}

.chat-box {
  position: absolute;
  top: 50%;
  z-index: 1;
  color: white;
  background-color: transparent;
  font-size: 20px;
}

#player1-chat-box {
  right: 70%;
}
#player2-chat-box {
  left: 70%;
}

.chat-box {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  animation-name: fade-inout;
  animation-duration: 5s;
}
@keyframes fade-inout {
  0% {
    visibility: visible;
    z-index: 10;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    z-index: 10;
    opacity: 0;
  }
}

#dev-here {
  margin-left: auto;
  margin-right: auto;
  width: var(--canvas-width);
}
#chat-input-here {
  position: relative;
  display: block;
  height: var(--btn-height);
  margin-left: auto;
  margin-right: auto;
  width: var(--canvas-width);
}
#chat-input-with-button {
  position: absolute;
  display: none;
  width: var(--canvas-width);
  height: 100%;
  z-index: 1;
  grid-template-columns: auto var(--btn-width);
}
#chat-input-with-button.show {
  display: grid;
}
#message-box,
#send-btn {
  width: 100%;
  height: 100%;
}
#message-box {
  grid-column-start: 1;
}
#send-btn {
  grid-column-start: 2;
}
#chat-open-btn {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  text-align: center;
}
#chat-open-btn.show {
  display: block;
}
#chat-input-here,
#chat-input-with-button,
#dev-here {
  width: var(--canvas-width);
}
