:root {
  --side-length: 96vmin;
  /* Pikachu Volleyball's original width: 432px, original height: 304px */
  --aspect-ratio: calc(432 / 304);
  --inverse-aspect-ratio: calc(304 / 432);
  --font-size: 18px;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

#canvas-here {
  margin-left: auto;
  margin-right: auto;
}

#canvas-here,
canvas {
  position: relative;
  display: block;
  width: var(--side-length);
  height: calc(var(--side-length) * var(--inverse-aspect-ratio));
}

.chat-box {
  position: absolute;
  top: 50%;
  z-index: 1;
  color: white;
  background-color: transparent;
  font-size: 20px;
}

#player1-chat-box {
  right: 70%;
}
#player2-chat-box {
  left: 70%;
}

.chat-box {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  animation-name: fade-inout;
  animation-duration: 5s;
}
@keyframes fade-inout {
  0% {
    visibility: visible;
    z-index: 10;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    z-index: 10;
    opacity: 0;
  }
}

#dev-here {
  margin-left: auto;
  margin-right: auto;
  width: var(--side-length);
}
#chat-input-here {
  position: relative;
  display: block;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  width: var(--side-length);
}
#chat-input-with-button {
  position: absolute;
  display: none;
  width: var(--side-length);
  height: 100%;
  z-index: 1;
}
#message-box,
#send-btn {
  height: 100%;
}
#message-box {
  width: calc(var(--side-length) - 70px);
}
#send-btn {
  width: 60px;
}
#chat-open-btn {
  position: ablsolute;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

@media only screen and (min-aspect-ratio: 432/304) {
  #canvas-here,
  canvas {
    width: calc(96vh * var(--aspect-ratio));
    height: 96vh;
  }
  #chat-input-here,
  #chat-input-width-button,
  #dev-here {
    width: calc(96vh * var(--aspect-ratio));
  }
  #message-box {
    width: calc(95vh * var(--aspect-ratio) - 70px);
  }
}
@media only screen and (max-aspect-ratio: 432/304) {
  #canvas-here,
  canvas {
    width: 96vw;
    height: calc(96vw * var(--inverse-aspect-ratio));
  }
  #chat-input-here,
  #chat-input-width-button,
  #dev-here {
    width: 96vw;
  }
  #message-box {
    width: calc(95vw - 70px);
  }
}
